<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-24971-1659951514/blob/master/Assessments/M3_LEAD/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## 1. Split this string

In [8]:
s = "Hi there Sam!"

In [9]:
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [11]:
print("The diameter of "+planet+" is "+str(diameter)+" kilometers.")

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [20]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [28]:
import numpy as np

In [26]:
array= np.zeros(10)

In [30]:
array=np.ones(10)*5

## 5. Create an array of all the even integers from 20 to 35

In [32]:
array=np.arange(30,71,2)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [33]:
x =  np.arange(2, 11).reshape(3,3)

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [36]:
a, b = np.array([1,2,3]), np.array([4, 5, 6])
np.concatenate((a, b))

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [37]:
import pandas as pd

In [38]:
df = pd.DataFrame()

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [39]:
pd.date_range(start='1-1-23', end='10-2-23')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [41]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [46]:
df = pd.DataFrame(lists, columns =['', '', '']) 
print(df)

0  1  aaa  22
1  2  bbb  25
2  3  ccc  24